apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: dc-metro-map-hiv3
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/release-service-e2e-tenant/appstudio/dc-metro-map-hiv3@sha256:7080741b2dab824bf98069117d5cb42540628cb772bcd3fed391d08e9b7906bd
        name: my-nodejs
        resources: {}
status: {}
